

.course-card {
  margin: 20px 10px;
  max-width:474px;
}

.course-actions {
    display: flex;
  justify-content: center;
}

.course-actions button {
  margin-right: 5px;
}

.course-thumbnail {
  max-width:474px;
  max-height: 267px;
}


.long-description {
  min-height: 50px;
  max-width: 442px;
}

mat-card-content p {
  padding: 10px;
}

.mat-elevation-z7 {
  
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);

}

