
.edit-course-form {
  min-width: 300px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

textarea {
    height: 100px;
    resize: vertical;
}

@media screen and (min-width: 600px) {
  .edit-course-form {
    width: 500px;
  }
}
  

