<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="/">
                <mat-icon matListItemIcon class="sidenav-icon">library_books</mat-icon>
                <span matListItemTitle>Courses</span>
            </a>
            <a mat-list-item routerLink="about">
                <mat-icon matListItemIcon class="sidenav-icon" fontIcon="question_answer"></mat-icon>
                <span matListItemTitle>About</span>
            </a>
            <a mat-list-item routerLink="drag-drop-example">
                <mat-icon matListItemIcon class="sidenav-icon" fontIcon="drag_indicator"></mat-icon>
                <span matListItemTitle>Drag and Drop</span>
            </a>
            <a mat-list-item routerLink="tree-demo">
                <mat-icon matListItemIcon class="sidenav-icon" fontIcon="park"></mat-icon>
                <span matListItemTitle>Tree Demo</span>
            </a>
            <a mat-list-item>
                <mat-icon matListItemIcon class="sidenav-icon">person_add</mat-icon>
                <span matListItemTitle>Register</span>
            </a>
            <a mat-list-item>
                <mat-icon matListItemIcon class="sidenav-icon">account_circle</mat-icon>
                <span matListItemTitle>Login</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar  color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <a mat-button [matMenuTriggerFor]="dropdown">
            Screens
        </a>

        <mat-menu #dropdown>
            <button mat-menu-item routerLink="/">
                Courses
            </button>
            <button mat-menu-item routerLink="/about">
                About
            </button>
        </mat-menu>

        <a mat-button>
            <mat-icon>person_add</mat-icon>
            Register
        </a>
        <a mat-button>
            <mat-icon>account_circle</mat-icon>
            Login
        </a>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>